<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Landing Page</title>
	<link rel="stylesheet" href="/stylesheets/output.css">
</head>

<body class="bg-gray-900 h-screen flex items-center justify-center">

	<div class="bg-gray-800 p-8 rounded-lg shadow-lg max-w-md w-full">
		<h1 class="text-3xl font-bold text-center mb-8 text-gray-100">Welcome to</h1>
		<p class="text-center mb-6 text-gray-300">Choose an option to proceed:</p>
		<div class="flex flex-col space-y-4">
			<a href="/login"
				class="block bg-blue-500 text-white text-center p-3 rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">Login</a>
			<a href="/register"
				class="block bg-green-500 text-white text-center p-3 rounded-lg shadow-md hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500">Register</a>
		</div>
	</div>

</body>

</html>